<div class="row">
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>HI! my name is Jobanpreet Singh</p>
                <p>I am current enrolled in CPP in Seneca College</p>
                <p>Apart from coding I really like  music and cars.</p>
                <p>I want to pursue my career as a Game Developer.</p>
                </article>
        </section>
        <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>Stay tuned for future updates .......</p>
        </aside>
    </div>